@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================================
   GLOBAL DESIGN TOKENS (ROOT)
================================ */

:root {
  /* ===== Solid Brand Colors ===== */
  --primary: #fa9746;
  /* Luxury Orange */
  --secondary: #7499f1;
  /* Trust Blue */
  --accent: #ffc371;
  /* Soft Gold */
  --danger: #ff5f6d;
  /* Dark Accent Red */

  /* ===== Neutral Colors ===== */
  --bg-light: #ffffff;
  /* --bg-dark: #020617; */
  --bg-dark: #020617d5;
  /* --bg-dark: #0206175a; */
  --text-light: #0f172a;
  --text-dark: #e5e7eb;

  /* ===== Gradients ===== */
  --gradient-primary: linear-gradient(90deg,
      #fa9746,
      #7499f1,
      #fa9746);

  --gradient-accent: linear-gradient(135deg,
      #ff5f6d,
      #ffc371);

  --gradient-dark: linear-gradient(135deg,
      #020617,
      #0f172a);
}

/* ===== Dark Mode Overrides ===== */
.dark {
  --bg-light: #020617;
  --text-light: #e5e7eb;
}

.font-18 {
  font-size: 18px;
  font-weight: 400;
}

.button {
  /* display: inline-block; */
  font-size: 18px;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 0.5rem 1.5rem;
  transition: background 0.4s ease-in-out;
  border-radius: 0.5rem;
}

.button:hover {
  background: var(--primary);
  color: white;
  animation-duration: 300;
  cursor: pointer !important;
}

.secondary_button {
  /* display: inline-block; */
  font-size: 18px;
  background: var(--primary);
  border: 1px solid var(--primary);
  color: white;
  padding: 0.5rem 1.5rem;
  transition: all 0.4s ease-in-out;
  border-radius: 0.5rem;
}

.secondary_button:hover {
  animation-duration: 300;
  background: transparent !important;
  color: var(--primary) !important;
  cursor: pointer;
}

.span_line {
  padding-bottom: 1rem;
  font-size: 14px;
  color: var(--primary);
  font-weight: 400;
}

.section_sub_title {
  font-size: 1.125rem;
  margin-bottom: 0.2rem;
  font-weight: 500;

}

.section_para {
  font-size: 1.5rem !important;
  font-weight: 400;
  color: var(--bg-dark);
  padding-bottom: 6px;
}

.card_para {
  font-size: 16px;
  font-weight: 400;
  color: var(--bg-dark);
  padding-bottom: 6px;
}

/* UPDATED CSS  */
.padding-top-1 {
  padding-top: 12rem !important;

}

.padding-bottom-1 {
  padding-bottom: 8rem !important;
}

.padding-bottom-2 {
  padding-bottom: 10rem !important;
}

.padding-bottom-3 {
  padding-bottom: 8rem !important;
}

.padding-bottom-4 {
  padding-bottom: 6rem !important;
}