@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================================
   GLOBAL DESIGN TOKENS (ROOT)
================================ */

:root {
  /* ===== Solid Brand Colors ===== */
  --primary: #fa9746;
  /* Luxury Orange */
  --secondary: #7499f1;
  /* Trust Blue */
  --accent: #ffc371;
  /* Soft Gold */
  --danger: #ff5f6d;
  /* Dark Accent Red */

  /* ===== Neutral Colors ===== */
  --bg-light: #ffffff;
  /* --bg-dark: #020617; */
  --bg-dark: #020617d5;
  /* --bg-dark: #0206175a; */
  --text-light: #0f172a;
  --text-dark: #e5e7eb;

  /* ===== Gradients ===== */
  --gradient-primary: linear-gradient(90deg,
      #fa9746,
      #7499f1,
      #fa9746);

  --gradient-accent: linear-gradient(135deg,
      #ff5f6d,
      #ffc371);

  --gradient-dark: linear-gradient(135deg,
      #020617,
      #0f172a);
}

/* ===== Dark Mode Overrides ===== */
.dark {
  --bg-light: #020617;
  --text-light: #e5e7eb;
}

.font-18 {
  font-size: 18px;
  font-weight: 400;
}

.button {
  /* display: inline-block; */
  font-size: 18px;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 0.5rem 1.5rem;
  transition: background 0.4s ease-in-out;
  border-radius: 0.5rem;
}

.button:hover {
  background: var(--primary);
  color: black;
  animation-duration: 300;
  cursor: pointer;
}

.secondary_button {
  /* display: inline-block; */
  font-size: 18px;
  background: var(--primary);
  border: 1px solid var(--primary);
  color: black;
  padding: 0.5rem 1.5rem;
  transition: all 0.4s ease-in-out;
  border-radius: 0.5rem;
}

.secondary_button:hover {
  animation-duration: 300;
  background: transparent;
  color: var(--primary);
  cursor: pointer;
}

.span_line {
  padding-bottom: 1rem;
  font-size: 14px;
  color: var(--primary);
  font-weight: 400;
}

.section_sub_title {
  font-size: 1.125rem;
  margin-bottom: 0.2rem;
  font-weight: 500;

}

.section_para {
  font-size: 1.5rem !important;
  font-weight: 400;
  color: var(--bg-dark);
  padding-bottom: 6px;
}

.card_para {
  font-size: 16px;
  font-weight: 400;
  color: var(--bg-dark);
  padding-bottom: 6px;
}

/* UPDATED CSS  */
.padding-top-1 {
  padding-top: 12rem !important;

}

.padding-bottom-1 {
  padding-bottom: 12rem !important;
}

.padding-bottom-2 {
  padding-bottom: 10rem !important;
}

.padding-bottom-3 {
  padding-bottom: 8rem !important;
}

.padding-bottom-4 {
  padding-bottom: 6rem !important;
}


/* SECTION MAIN TITLE  */
/* text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold leading-8 sm:leading-9 md:leading-[56px] lg:leading-[64px] mb-4 sm:mb-5 md:mb-6 lg:mb-8 */

/* SECTION PARA  */
/* text-base sm:text-lg md:text-lg lg:text-xl leading-7 sm:leading-8 md:leading-8 lg:leading-9 pb-6 sm:pb-8 md:pb-10 lg:pb-12 */


/* CARD TITLE  */
/* text-base sm:text-lg md:text-xl lg:text-2xl font-semibold leading-6 sm:leading-7 md:leading-7 lg:leading-8 mb-1 sm:mb-2 md:mb-2 lg:mb-3 */

/* CARD PARA  */
/* text-sm sm:text-base md:text-base lg:text-base leading-6 sm:leading-7 md:leading-7 lg:leading-8 mt-2 sm:mt-3 md:mt-3 lg:mt-4 */

/* SPAN TITLE  */
/* text-xs sm:text-sm md:text-sm lg:text-base font-medium leading-5 sm:leading-6 md:leading-6 lg:leading-7 tracking-wide inline-block */